<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="verify pagee">
   <parameter name ="browser" value="chrome"></parameter>
  
    <test name="facebook Homepage test">
        <classes>
          <class name="com.selenium.basic.InvokeBrowserAuto">
          </class>
        </classes>
    </test>
    
    
</suite> <!-- Suite -->
